:root{
    /* Cores  */
    --cor-primaria: #225A3F;
    --cor-secundaria: #91C995;
    --cor-secundaria-rgb: 145, 201, 149;
    --cor-destaque: #EFD470;

    /* Fontes */
    --fonte-titulo: 'Mulish', sans-serif;
    --fonte-texto: 'Lora', serif;
}

body{
    background-color: #FDF8EF;
    color: var(--cor-primaria);


    padding: 10px 20px;

}

/* HEADER */
header{
    width: 100%;
    display: flex;
}

header nav.container-navegacao{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-header-img{
    display: flex;
    align-items: center;
    width: 50%;

}

.container-header-img h1{
    color: var(--cor-primaria);
}
.container-header-img img {
  width: 100px; 
  height: auto;
}

.container-navegacao .container-menu{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-navegacao .container-menu ul{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: end;

    list-style: none;
}


.container-navegacao .container-menu ul li button.btn-parceiro{

    position: fixed;
    bottom: 20px; 
    right: 20px;  
    z-index: 1000; 


    background-color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque); 
    backdrop-filter: blur(10px); 
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: var(--cor-primaria);
    cursor: pointer;

     animation: pulse 2s infinite;
}

.container-navegacao .container-menu ul li button.btn-parceiro:hover{
    transform: scale(1.1);
    background-color: var(--cor-secundaria);
    border-color: var(--cor-secundaria);
    color: var(--cor-primaria);
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}
.container-navegacao .container-menu ul li a{
    font-weight: 600;
    font-size: var(--fonte-titulo);
    cursor: pointer;
}

/* MAIN */

main .container-inicio{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
main .container-inicio > div:first-of-type {
    width: 30%;
    text-align: start;
    height: auto;
}

main .container-inicio > div h2 {
   font-size: 35px;
}

main .container-inicio > div p{
   font-size: 16px;
}

main .container-inicio div:last-of-type {
    width: 50%;
    display: flex;
}
main .container-inicio div img{
cursor: pointer;
width: 90%;
height: 500px;
}